@import url("https://fonts.googleapis.com/css?family=Barlow|Overpass:400,700&display=swap");
@font-face {
  font-family: BlancoTrialBold;
  src: url("../fonts/BlancoTrial-Bold.otf") format("opentype"); }
nav {
  transition: all .3s ease;
  margin: 0;
  padding: 0;
  height: calc(100vh); }
  nav .level-item {
    height: calc(calc(calc(100vh - 110px) /7)*1);
    margin: 0 !important; }
  nav .level-left {
    height: calc(calc(calc(100vh - 110px) /7)*4); }
    nav .level-left:nth-of-type(1) {
      height: unset; }
    nav .level-left:nth-of-type(2) {
      height: calc(calc(calc(100vh - 110px) /7)*3); }
  @media only screen and (min-width: 1024px) {
    nav {
      height: unset; }
      nav .level-item {
        height: unset;
        margin: 0; }
      nav .level-left {
        height: unset; }
        nav .level-left:nth-of-type(1) {
          height: unset; }
        nav .level-left:nth-of-type(2) {
          height: unset; } }
  nav a {
    font-size: .75rem;
    letter-spacing: 1.5px; }
  nav .level-left.column.is-hidden-tablet {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      nav .level-left.column.is-hidden-tablet {
        padding: .75rem; } }
  nav .navbar-burger.burger.column.is-hidden-tablet.level-right {
    position: fixed;
    right: 10px;
    top: 45px; }
    nav .navbar-burger.burger.column.is-hidden-tablet.level-right.active span:nth-child(1) {
      transform-origin: right;
      transform: rotate(-45deg);
      width: 14px; }
    nav .navbar-burger.burger.column.is-hidden-tablet.level-right.active span:nth-child(2) {
      opacity: 0; }
    nav .navbar-burger.burger.column.is-hidden-tablet.level-right.active span:nth-child(3) {
      transform-origin: right;
      transform: rotate(45deg);
      width: 14px; }
    nav .navbar-burger.burger.column.is-hidden-tablet.level-right:hover {
      background-color: transparent; }
  nav div:nth-child(1) {
    background: #ffffff; }
  nav div:nth-child(2) {
    transition: transform .3s ease;
    display: block !important;
    transform: translateX(100%);
    background: #ffffff; }
    @media only screen and (min-width: 1024px) {
      nav div:nth-child(2) {
        display: flex !important;
        transform: translateX(0); } }
  nav div:nth-child(4) {
    transition: transform .3s ease;
    display: block !important;
    transform: translateX(100%);
    background: #ffffff; }
    @media only screen and (min-width: 1024px) {
      nav div:nth-child(4) {
        display: flex !important;
        transform: translateX(0); } }
  nav.active {
    margin: 0;
    padding: 0;
    height: calc(100vh); }
    nav.active div:nth-child(2) {
      transform: translateX(0); }
    nav.active div:nth-child(4) {
      transform: translateX(0); }
    nav.active .level-item {
      height: calc(calc(calc(100vh - 110px) /7)*1);
      margin: 0; }
    nav.active .level-left {
      height: calc(calc(calc(100vh - 110px) /7)*4); }
      nav.active .level-left:nth-of-type(1) {
        height: unset; }
      nav.active .level-left:nth-of-type(2) {
        height: calc(calc(calc(100vh - 110px) /7)*3); }

/*# sourceMappingURL=nav.css.map */
