@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Barlow|Overpass:400,700&display=swap');

@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/layout';


// Nav Bar:
nav a {
    font-size: .75rem;
    letter-spacing: 1.5px;    
}

// Hero:
.hero {
    
    &.has-background {
        position: relative;
        overflow: hidden;
    }
    
    &-background {
        
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
    
    .hero-body {

        h1 {
            font-family: $bannerTitle;
            font-weight: 900;
            font-size: 3.8rem;
        }

        h3 {
            font-family: $bannerSubtitle;
            font-weight: 700;
            letter-spacing: 1.2px;
        }
    }
}

// Carousel:
#carouselStage {
    
    transition: .3s all ease;
    
    &.item-1 {
        
        transform: translateX(0);
    }
    
    &.item-2 {
        
        transform: translateX(-100%);
    }
    
    &.item-3 {
        
        transform: translateX(-200%);
    }
    
    &.item-4 {
        
        transform: translateX(-300%);
    }
    
    &.item-5 {
        
        transform: translateX(-400%);
    }
    
    &.item-6 {
        
        transform: translateX(-500%);
    }
}

#carousel-item-marker {
    
    padding: 0 0 3px;
    margin: 10px 0;
    background: linear-gradient(to right, 
        transparent 20%,
        black 0%,
        black 60%,
        black 80%,
        transparent 80%,
        transparent 100%
      );
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    
    transition: .3s all ease;
    
    &.item-1 {
        
        transform: translateX(0);
    }
    
    &.item-2 {
        
        transform: translateX(100%);
    }
    
    &.item-3 {
        
        transform: translateX(200%);
    }
    
    &.item-4 {
        
        transform: translateX(300%);
    }
    
    &.item-5 {
        
        transform: translateX(400%);
    }
    
    &.item-6 {
        
        transform: translateX(500%);
    }
    
}

#carouselPagination {
    
    img {
        
        transition: .3s all ease;
        opacity: .15;
        
        &.on {
            
            opacity: 1;
        }
    }
}

// Footer Input Placeholder
.input::-webkit-input-placeholder
{
        background: $black;
        color: $white;
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        padding-left: 15px;
}

.input::placeholder {
        background: $black;
        color: $white;
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        padding-left: 15px;
}

.input:-ms-input-placeholder {
        background: $black;
        color: $white;
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        padding-left: 15px;
}

.input::-ms-input-placeholder {
        background: $black;
        color: $white;
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        padding-left: 15px;
}

input.input {
    
    min-height: 60px;
    color: $white;
    font-size: 0.8rem!important;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 15px;

    
    &:focus {

        &::placeholder {
            color: transparent;
        }
    }
}

.control.has-icons-right .input {
    padding-right: 3.3em;
}

.copyright {
        margin-top: 7rem;    
}


// Hover colors ajustment:
.btn-hover-colors {
    
    &:hover {
        
        background-color: $black!important;
        
        p {
            
            color: $white!important;
        }
    }
}

// Line span alike:
.is-shape-line {
    padding: 0 0 1px;
    margin: 0 0 40px 0;
    background: linear-gradient(to right, transparent 40%, black 0%, black 40%, black 70%, transparent 70%, transparent 100%);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
}


// Helpers:
.is-transparent-bg {
    background: transparent;
}

.is-full-size-img {
    max-height: unset!important;
}

.some-letter-spacing {
    letter-spacing: 1.5px;
}

.is-squared {
    border-radius: 0;
}

.has-black-border {
    border-color: $black!important;
}

.has-topMargin {
    margin-top: 2rem;
}

.has-topMargin-little {
    margin-top: .7rem;
}

.has-padding-bottom-1-rem {
    padding-bottom: 1rem;
}

.has-padding-vetical-tiny {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.has-padding-vetical-regular {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.has-horizontal-padding {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.has-margin-bottom-small {
    padding-bottom: .5rem;
}

.has-margin-vertical-medium {
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.has-vertical-large-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.very-specific-padding {
    padding-top: 20rem !important;
    padding-bottom: 20px !important;
}

.pointer {
    cursor: pointer;
}

.no-padding-bottom {
    padding-bottom: 0; 
}

.has-double-line-height {
    line-height: 2;
}


// Media Queries Ajustments:

nav {
    
    padding-bottom: 1rem;
    
    @include MQ(M) {
        padding-bottom: 0;
    }
    
    .level-left.column.is-hidden-tablet {
        
        padding: 0;

        @include MQ(M) {
            padding: .75rem;
        }
    }
    
    
    .navbar-burger.burger.column.is-hidden-tablet.level-right {
        
        margin-top: -70px;
        
        @include MQ(M) {
            margin-top: 0;
        }
    }
}

footer.footer {
    
    .column .columns .column.is-half .columns {
        
        display: inline-flex;
        
    }
}